extends layout

block content
  main.content
    article
      h1
        |About 
        span
          |MyDictionary
      p
        |A dictionary is a collection of words in one or more specific languages, often arranged alphabetically (or by radical and stroke for ideographic languages), which may include information on definitions, usage, etymologies, phonetics, pronunciations, translation, etc. or a book of words in one language with their equivalents in another, sometimes known as a lexicon. It is a lexicographical product which shows inter-relationships among the data
      img(src='/assets/images/design/1.jpg', alt="pen")
      p
        |A custom dictionary is useful if, for example, your work relies on a particular terminology, such as legal terms. Alternatively, you could create a custom dictionary that includes the names of your work contacts so that you know you're always spelling their names correctly.
      p
        |When you use the spelling checker, it compares the words in your document with those in the main dictionary. The main dictionary contains the most common words, but it might not include proper names, technical terms, or acronyms. In addition, some words might be capitalized differently in the main dictionary than in your file. Adding such words or capitalization to a custom dictionary prevents the spelling checker from flagging them as mistakes.
 