extends layout

block content
  main.content
    article
      h1
        |FAQs of the 
        span
          |MyDictionary
      #accordion
        h3 Question 1
        div
          |The oldest known dictionaries were Akkadian Empire cuneiform tablets with bilingual Sumerian–Akkadian wordlists, discovered in Ebla (modern Syria) and dated roughly 2300 BCE.[7] The early 2nd millennium BCE Urra=hubullu glossary is the canonical Babylonian version of such bilingual Sumerian wordlists. A Chinese dictionary, the c. 3rd century BCE Erya, was the earliest surviving monolingual dictionary; although some sources cite the c. 800 BCE Shizhoupian as a "dictionary", modern scholarship considers it a calligraphic compendium of Chinese characters from Zhou dynasty bronzes. Philitas of Cos (fl. 4th century BCE) wrote a pioneering vocabulary Disorderly Words (Ἄτακτοι γλῶσσαι, Átaktoi glôssai) which explained the meanings of rare Homeric and other literary words, words from local dialects, and technical terms
        h3 Question 2
        div The oldest known dictionaries were Akkadian Empire cuneiform tablets with bilingual Sumerian–Akkadian wordlists, discovered in Ebla (modern Syria) and dated roughly 2300 BCE.[7] The early 2nd millennium BCE Urra=hubullu glossary is the canonical Babylonian version of such bilingual Sumerian wordlists. A Chinese dictionary, the c. 3rd century BCE Erya, was the earliest surviving monolingual dictionary; although some sources cite the c. 800 BCE Shizhoupian as a "dictionary", modern scholarship considers it a calligraphic compendium of Chinese characters from Zhou dynasty bronzes. Philitas of Cos (fl. 4th century BCE) wrote a pioneering vocabulary Disorderly Words (Ἄτακτοι γλῶσσαι, Átaktoi glôssai) which explained the meanings of rare Homeric and other literary words, words from local dialects, and technical terms
        h3 Question 3
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 4
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 5
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 6
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 7
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 8
        div Nam dui erat, auctor a, dignissim quis.
        h3 Question 9
        div Nam dui erat, auctor a, dignissim quis.