footer
  blockquote(cite='http://www.famous-quotes.cc/authors/john-ralston-saul/quotes/140327')
    |Dictionary - opinion expressed as truth in alphabetical order. 
    br
    strong John Ralston Saul
